@import "tailwindcss";

@theme {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-primary: #1e3a8a;
  --color-accent: #fbbf24;
  --color-background: #f8fafc;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body bg-background text-slate-900;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
